/**COLOR SCHEME
BLUE: #267AFF
YELLOW: #FFD626
ORANGE: #FF7F26
AQUA: #41CBFF
LIGHT BLUE: #DEEBFF
LIGHT YELLOW: #FFE470

**/

body
{
	padding: 0;
	margin: 0;
	font-family: Arial;
}
#flyerImg{
  width:100%;
  margin: 0 0 0 0;
}
#facebookImg{
	height:30px;
}
#paypalImg{
	height:30px;
}
.container
{
	background-color: #BCBCBC;
}

.navDiv
{
	background-color: black;
	width: 100%;
	height: 30px;
	position: fixed;
	box-shadow: 1px 1px 5px black;	
	margin: 0px auto;
}

#leftHalf
{
	width: 50%;
	float: left;
}

#rightHalf
{
	width: 50%;
	float:left;
}

/**NAV BAR SETUP**/
.navBar
{
	width: 1000px;
	height: inherit;
	margin: 0px auto;
	overflow: hidden;
	color: white;
}

#leftHalf
{
	width: 50%;
	float: left;
}

#rightHalf
{
	width: 50%;
	float:left;
}

ul#nav-List
{
	list-style-type:none;
	margin:0;
	padding: 0;
	overflow:hidden;
}

ul#nav-List li
{	
	float: left;
}

ul#nav-List a:link,a:visited
{
	margin: 0px 20px 0px 0px;
	padding:0px 5px;
	display:block;
	color: #FF7F26;
	width: auto;
	text-align:left;
	text-decoration:none;
	font-size: 12px;
	font-weight: bold;
	/*border-left: 1px solid #FFE470;*/
}
ul#nav-List a:hover, a:active
{
	color: #41CBFF;
}
/**USER BAR SETUP**/
ul#user-List
{
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
	float: right;
}

ul#user-List li
{
	color: #FFD626;
	padding:0px 2.5px;
	float: left;
	font-size: 12px;
	font-weight: 300;
}

ul#user-List a:link, a:visited
{
	padding:0px 5px;
	display:block;
	color: #FF7F26;
	width: auto;
	text-align:right;
	text-decoration:none;
	/*border-right: 1px solid #FFE470;*/

}

ul#user-List a:hover, a:active
{
	color: #41CBFF;
}
/**CONTENT SETUP**/

.contentDiv
{
	background-color: white;
	width: 1000px;
	margin: 0px auto;
	box-shadow: 7px 0px 10px -5px #888, -7px 0px 10px -5px #888;
	min-height: 100%;
}
/**
.contentSetup
{
	min-height: 100%;
}
**/
.content
{
	padding:40px 25px 0px 25px;	
}

.content h
{
	color: #FF7F26;
	font-size: 30px;
}

#line
{
	width: auto;
	height: 4px;
	background-color: black;
}

/**Projects Info Divs**/
#projBox
{
	width: inherit;
	margin-top: 5px;
}

#boxTitle
{
	color: #267AFF;
	font-size: large;
	
}

#boxContent
{
	padding: 3px;
}
.spacer {
	width: 100%;
	height: 30px;
}




